@import url('https://fonts.googleapis.com/css?family=Fondamento&display=swap');

.book-card h6 {
    padding-left: 4rem;
    padding-top: 20rem;
    position: absolute;
    color: white;
    z-index: 2;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-family: 'Fondamento', cursive;
}
.book-card img {
    position: relative;
    z-index: 1;
}

.book-card h6:hover {
    cursor: pointer;
}